<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %> 
  <title>Modificar Producto - Spice Node</title>
</head>

<body>
  <%- include('./partials/_header.ejs') %>

  <!-- Formulario de modificacion de productos -->
  <div class="ccFormularioModificar container d-flex flex-wrap flex-column align-items-center">
    <h2 class="pt-5">Modificar un producto</h2>
    <p>Por favor complete la información requerida para modificar un producto</p>
    <div class="ccDetalleModificarProducto mt-5 bg-white shadow p-5">
      <h3>Detalle del producto</h3>
      <form action="/products/<%= product.productID %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="productName">Nombre del producto</label>
            <input type="text" name="productName" id="" class="form-control" value="<%= product.productName %>">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productName) ? errors.productName.msg : '' %></small>
          </div>
          <div class="form-group col-12">
            <label for="productDescription">Descripcion</label>
            <input type="text" name="productDescription" id="" class="form-control" value="<%= product.productDescription %>">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productDescription) ? errors.productDescription.msg : '' %></small>
          </div>
          <div class="form-group col-12">
            <label for="productCategory">Categoria de producto</label>
            <input type="text" name="productCategory" id="" class="form-control" value="<%= product.productCategory %>">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productCategory) ? errors.productCategory.msg : '' %></small>
          </div>
          <div class="form-group col-12">
            <label for="productPrice">Precio</label>
            <input type="text" name="productPrice" id="" class="form-control" value="<%= product.productPrice %>">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productPrice) ? errors.productPrice.msg : '' %></small>
          </div>
          <div class="form-group col-12">
            <label for="productIngredients">Ingredientes</label>
            <input type="text" name="productIngredients" id="" class="form-control" value="<%= product.productIngredients %>">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productIngredients) ? errors.productIngredients.msg : '' %></small>
            <small><p>Ingresar los ingredientes separados por comas</p></small>
          </div>
          <div class="form-group col-12">
            <label class="text-secondary" for="productImage">Archivos en PNG o JPEG</label>
            <input type="file" name="productImage" class="form-control-file" id="">
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.productImage) ? errors.productImage.msg : '' %></small>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Modificar producto</button>
      </form>
    </div>
  </div>

  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>