<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <title>Registro - Spice Node</title>

</head>

<body>
  <%- include('./partials/_navBar.ejs') %>

  <!-- Formulario de registro -->
  <div class="ccMasterRegister">
    <div class="loginForm container d-flex flex-wrap flex-column align-items-center">
      <h2 class="heading-secondary pt-5">Bienvenido a Spice Node</h2>
      <p>Por favor complete la información requerida para continuar</p>
      <div class="ccDetalleRegistroUsuario mt-5 bg-white shadow p-5">
        <h3 class="heading-tertiary">Informacion personal</h3>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="inputUserName" class="form-control" placeholder="Cosme">
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.name) ? errors.name.msg : '' %></small>
            </div>
            <div class="form-group col-12">
              <label for="lastname">Apellido</label>
              <input type="text" name="lastname" id="inputlastname" class="form-control" placeholder="Fulanito">
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.lastname) ? errors.lastname.msg : '' %></small>
            </div>
            <div class="form-group col-12">
              <label for="email">Email</label>
              <input type="email" name="email" id="inputemail" class="form-control" placeholder="emailfalso123@gmail.com">
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>
            </div>
            <div class="form-group col-12">
              <label for="password">Password</label>
              <input type="password" name="password" id="inputpassword" class="form-control" placeholder="123456789">
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %></small>
              <small class="form-text text-muted">Por favor no le pongas 12345689 😂</small>
            </div>
            <div class="form-group col-12">
              <label for="avatar">Avatar</label>
              <input type="file" name="avatar" id="inputavatar" class="form-control" placeholder="No se que va acá">
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-sm w-100">Confirmar registro</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>